@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 1.1rem;
}

html,
body {
  height: 100%;
}

html {
  background: black;
}

body {
  margin: 0;
}

.chat {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  overflow: auto;
  flex: 1;
}

.chat-input {
  margin-top: 0.2rem;
  width: 100%;
  padding: 0.3rem;
  background: black;
  border: 0.05rem solid rgba(255, 255, 255, 0.2);
  font-weight: 700;
  font-family: "Overpass Mono", monospace;
  color: white;
}

.message {
  margin: 0.1rem;
}

.message-internal {
  opacity: 0.6;
  font-style: italic;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  font-family: "Overpass Mono", monospace;
  padding: 3rem;
}
